.home {
    background: rgb(81,85,133);
    background: linear-gradient(151deg, rgba(81,85,133,1) 0%, rgba(0,32,74,1) 50%, rgba(81,85,133,1) 100%);
    height: 100%;
}

.info {
    margin-top: 50px;
    width: auto; /* or set a specific width if needed */
    max-width: 500px;
}