/* mobile */
@media only screen and (max-width: 999px) {
    .roadmaps {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .roadmaps_progress-icons {
        font-size: 20px;
        margin-top: 1rem;
        letter-spacing: 5px;
        width: auto;
    }

    .roadmaps_progress-label {
        color: white;
        font-weight: bold;
        margin-bottom: 1rem;
    }
}

/* desktop */
@media only screen and (min-width: 1000px) {
    .roadmaps {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0.5rem;
        padding-bottom: 20px;
    }

    .roadmaps_progress-icons {
        font-size: 40px;
        margin-top: 1rem;
        letter-spacing: 10px;
        width: auto;
    }

    .roadmaps_progress-label {
        color: white;
        font-weight: bolder;
        margin-bottom: 1rem;
    }
}