/* mobile */
@media only screen and (max-width: 999px) {
    .roadmap-tree-title {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: nowrap;
    }
    .roadmap-tree-structure {
        overflow: hidden;
        padding-bottom: 100px;
    }
}

/* desktop */
@media only screen and (min-width: 1000px) {
    .roadmap-tree-title {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: nowrap;
        padding-left: 200px;
        padding-right: 200px;
    }
    .roadmap-tree-structure {
        overflow: hidden;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 100px;
    }
}